{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>About Us</h1>

<p>TinyPots.com came about as the result of an assignment at UNO for learning Python and Django.
The five creators of this site are:</p>
<ul style="list-style-type:none">
	<li>Jessica Bechel</li>
	<li>Jay Patten</li>
	<li>Christi Schmidt</li>
	<li>Evan Schutte</li>
	<li>Alex Chitty</li>
</ul>

<p>We created this small business providing select orchids, quality orchid supplies, and care information. Customers can purchase for
themselves or as gifts through credit card, paypal.com, or gift cards. They will receive an order confirmation and shipping notice via
e-mail. Non-orchid people can purchase gift cards for their orchid loving friends and family. Customers are not required to create
accounts to check out. People interested in orchids can find the general basics on growing orchids, tips, advice and sign up for a
newsletter and sales notification. </p>
{% endblock %}
