{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Shipping & Conditions</h1>
<br>
<h2 class="font-weight-bold">SHIPPING </h2>
<h3>Shipment Processing Time</h3>
<p>All orders are processed within 1-2 business days. Orders are not processed or shipped on weekends or holidays.</p>

<h3>Shipping Rates & Delivery Estimates</h3>
<p>Shipping charges for your order will be calculated and displayed at checkout.</p>

<p>**An additional oversized item surcharge may apply to some heavy or bulky items due to size, weight or special
 handling required. This per item surcharge is in addition to standard shipping rates.</p>

<p>We ship all orders via FedEx Ground and USPS Priority Mail. In addition to processing time, please allow 2-5
business days for delivery time. Delivery delays can occasionally occur.</p>

<h3>Shipping to a P.O. Box or APO, FOP Address</h3>
TinyPots.com cannot ship to P.O. Boxes, APO or FPO addresses at this time due to limitations. We require a street
address for all deliveries. Please be sure to enter a complete shipping address for all orders.</p>

<h3>Shipment Confirmation & Order Tracking</h3>
<p>You will receive a Shipment Confirmation email once your order has shipped containing your tracking number(s). The
tracking information will be active within 24 hours.</p>

<h3>International Orders</h3>
<p>We currently ship anywhere in the United States.  We do not offer International Shipping due to the shipping cost
and customs requirements.</p>
<br>
<h2 class="font-weight-bold">RETURNS</h2>

<p>We want you to be satisfied with your order from TinyPots.com. If you are not totally pleased with your purchase,
you may return any product within 10 days for a prompt refund, credit or exchange of your choice. TinyPots.com does
not reimburse the cost of return shipping unless the product shipped was our error or was defective. <br>

Please email us at TinyPots@TinyPots.com or contact us at 402-999-1234 and we will help facilitate returns or exchanges.<br>

The returned product must be in new and unused condition, in the original box with all the documentation, parts and
accessories to insure full credit. “New and unused” means sale-able condition. We cannot accept returns for an item
with any indications that it has been used. <br>

We love satisfied customers so if you have any questions about this policy, please feel free to contact us via e-mail
TinyPots@TinyPots.com or via telephone at 402-999-1234. </p>

<h3>Damaged or Defective Items</h3>
<p>If your order arrives at your door damaged, broken or defective, we will either replace the broken parts or ship out
a new one completely at our expense. Requests for replacement parts will be processed as quickly as possible. Please note
that we are not able to express ship replacement pieces.</p>

<h3>Credit and Return Time</h3>
<p>Please give us some time to process your return/exchange. It takes 5 to 7 business days for us to receive the returned
or exchanged product back from you. Within 72 hours of receiving the item back in our warehouse, you will receive an e-mail
that reflects that your credit card has been credited. All refunds granted are for the purchase price of the product only
and can only be issued to the credit card used at purchase.</p>

<h3>Canceling Your Order</h3>
<p>If you have placed an order and would like to cancel it, please call us at 402-999-1234 within four(4) hours of placing
your order to cancel it free of any charges. Don’t worry! Even after the four hours, our friendly customer service will do
all that we can to stop the items from being processed and/or shipped but there is no guarantee that we will be able to
stop it in time.</p>

<h3>Special Orders</h3>
<p>We accept special orders, prepaid only. Prices charged will be those in effect when the items are received in our
warehouse. Shipping is charged by weight, plus insurance and handling.<br>

<b>There are no returns, refusals or refunds for special orders.</b></p>

{% endblock %}
